<h1>teste nova index</h1>
<p>
<%= @teste %>
</p>
<%# helper do rails %>
<%# para ver todas as rotas do seu aplicativo acesse 
	http://0.0.0.0:3000/rails/info/routes %>
<%= link_to "Cadastro de clientes", customers_path %>
<br>
<%= link_to "Cadastre um Amigo", friends_path %>
<br>
<%= link_to "Cadastre uma Anotação", annotations_path %>
<br>
<%= t('hello') %>
<br>
<%= t('teste in inglish') %>